
<h2>Top 3 Breweries</h2>
<ul>
  <% @top_breweries.each do |brewery| %>
      <li><%= link_to brewery.name, brewery %></li>
  <% end %>
</ul>

<h2>Top 3 Beers</h2>
<ul>
  <% @top_beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<h2>Top 3 most active raters</h2>
<ul>
  <% @top_raters.each do |rater| %>
      <li><%= link_to rater.username, rater %></li>
  <% end %>
</ul>


<h2>Most recent ratings</h2>
<ul>
    <% @recent_ratings.each do |rating| %>
    <li><%= rating %> <%= link_to rating.user.username, rating.user %></li>
    <% end %>
</ul>

<p>Number of all given ratings: <%= @ratings_count %></p>

<% unless current_user.nil? %>
    <%= link_to 'New Rating', new_rating_path, class:"btn btn-primary" %>
<% end %>